name: Kernel Builder

on:
  workflow_dispatch:

jobs:
  build:
    name: Kernel Builder
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup packages
        run: |
          sudo apt-get update -y
          sudo apt install git make bc bison flex libssl-dev libelf-dev zip gcc-aarch64-linux-gnu

      - name: Set swap to 10G
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Build
        run: |
          mkdir kernel
          cd kernel
          wget https://raw.githubusercontent.com/RedEnemy30/garnet-kernel-builder/master/build_garnet_kernel.sh && chmod +x ./build_garnet_kernel.sh
          echo "Building kernel"
          ./build.sh

      - name: Extract Version Info
        id: extract_version_info
        run: |
          FILE_NAME=$(basename kernel/builds/*.zip)
          KERNEL_NAME=$(echo $FILE_NAME | cut -d'-' -f4)
          VERSION=$(echo $FILE_NAME | cut -d'-' -f5)
          DEVICE=$(echo $FILE_NAME | cut -d'-' -f6)
          echo "KERNEL_NAME=${KERNEL_NAME}" >> $GITHUB_ENV
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "DEVICE=${DEVICE}" >> $GITHUB_ENV

      - name: Create Release Notes
        run: |
          touch release_notes.txt
          echo "## Release Notes" > release_notes.txt
          echo "This release includes the following changes:" >> release_notes.txt
          echo "- Built kernel from commit ${{ github.sha }}" >> release_notes.txt
          echo "- Kernel Name: ${{ env.KERNEL_NAME }}" >> release_notes.txt
          echo "- Version: ${{ env.VERSION }}" >> release_notes.txt
          echo "- Device: ${{ env.DEVICE }}" >> release_notes.txt
          echo "- Add any other relevant changes or notes here" >> release_notes.txt

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: kernel/builds/*.zip
          tag: "${{ github.run_number }}"
          name: "Release ${{ env.VERSION }}"
          token: ${{ secrets.PAT_TOKEN }}
          bodyFile: release_notes.txt
